:root {
	--background: #262433;
	--text: #fff;
	--accent: #70c6ff;
}
body {
	padding: 0;
	margin: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5% 2%;
	background-color: #f00;
}

.navLinks ul li {
	display: inline-block;
}

.navLinks ul li a {
	color: #000;
	text-decoration: none;
}

.hireMe {
	background-color: #70c6ff;
	padding: 0.5em 1em;
	border-radius: 1em;
}
